@import "../../css-config/mixins.scss";

.main-header {
    width: 100%;
    padding: 0 20px;
    background-color: #121522;
    color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    z-index: 99;

    @include md {
        padding: 0 40px;
    }

    .header-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        max-width: 1200px;
        margin: 0 auto;

        @include md {
            height: 80px;
        }

        .left {
            list-style-type: none;
            display: flex;
            gap: 25px;

            li {

                font-size: 14px;
                font-weight: 600;
                text-transform: uppercase;
                cursor: pointer;
                text-decoration: none;
            }

        }



        .center {
            font-size: 22px;
            font-weight: 700;
            cursor: pointer;

            @include md {
                font-size: 34px;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        .right {
            display: flex;
            align-items: center;
            gap: 20px;

            @include md {
                gap: 25px;
            }

            svg {
                font-size: 20px;
                cursor: pointer;

                @include md {
                    font-size: 24px;
                }
            }

            .cart-icon {
                position: relative;

                span {
                    min-width: 20px;
                    text-align: center;
                    background-color: #4776E6;
                    padding: 2.5px;
                    position: absolute;
                    top: -5px;
                    right: -12px;
                    font-size: 12px;
                    line-height: 1;
                    border-radius: 10px;
                }
            }
        }

        .mobile-toggler {
            display: none;
        }

        // change the breakpoint to show in desired screen sizes
        @media screen and (max-width: 1023px) {
            .mobile-toggler {
                display: block;
                // style your hamburger button
            }

            .left {
                // this will hide menu for small screen
                // you can use display:none/block as you desired
                visibility: hidden;
                width: 280px;
                height: 100vh;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: fixed;
                top: 0;
                left: -15px;
                padding: 20px;
                color: white;


                z-index: 999;

                // This will handle show/hide after you toggle your hamburger button
                &.show-mobile-menu {
                    visibility: visible;
                    left: 0;
                    background-image: linear-gradient(to bottom, #3d0684, #6019b6, #498f8f, #213c97);
                    background-size: 240% 240%;
                    animation: gradient-animation 10ms ease infinite;
                    border: 1px solid rgb(17, 17, 53);
                    border-radius: 8px;


                    li {

                        font-size: 30px;
                        font-weight: 600;
                        text-transform: uppercase;
                        cursor: pointer;
                        padding: 12px;
                        transition: 0.5s ease-in-out;

                    }
                }

                .close-icon {
                    position: absolute;
                    top: 20px;
                    left: 220px;
                    cursor: pointer;
                }


            }
        }
    }

    &.sticky-header {
        position: sticky;
        top: 0;
        transform: translateY(-80px);
        animation: stickyHeader 0.5s ease forwards;
    }
}

@keyframes stickyHeader {
    0% {
        transform: translateY(-80px);

    }

    100% {
        transform: translateY(0);

    }
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}