@import "../../css-config/mixins.scss";

.container {
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    .login {
        background-color: white;
        height: 189px;



        .login-container {
            display: flex;
            flex-direction: column;
            gap: 40px;
            border: 1px solid black;
            width: 350px;
            padding: 20px;
            height: 189px;
            margin-bottom: -20px;

            @include md {
                width: 400px;

            }

            .facebook {
                background-color: #3b5998;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 15px;
                font-size: 25px;
                width: 100%;
                padding: 10px;
                cursor: pointer;

                &:hover {
                    background-color: #2f477a;
                }
            }

            .google {
                background-color: white;
                color: #4a4a4a;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 15px;
                font-size: 25px;
                width: 100%;
                padding: 10px;
                cursor: pointer;
                border: 1px solid #4a4a4a;

                &:hover {
                    background-color: #939793;
                }
            }
        }
    }

}